@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
// variables
$main-color: #fff;
// for animation
@keyframes spinner {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}


// General settings

hrml {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}
*:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: rgb(135,224,253); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.userCoordinates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    p, div {
      text-align: center;
      color: $main-color;
      font-size: 1.5rem;
    }
    button {
      border-radius: 5px;
      background-color: $main-color;
      padding: 10px;
      color: rgb(5,171,224);
      font-weight: bold;

      &:hover {
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        border-color: $main-color;
      }
    }
}
.spinner {
    margin: 10px auto;
    width: 20px;
    height: 20px;
    border: 3px solid $main-color;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 2s linear infinite spinner;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: $main-color;
    font-size: 1.5rem;
  }
    span {
      font-weight: bold;
    }
}